<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!-- Remove PreviewActivity in release builds -->
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="true"
            tools:node="remove" />
    </application>

</manifest>
