<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"
        tools:node="remove" />

    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <application
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        tools:ignore="UnusedAttribute,GoogleAppIndexingWarning"
        tools:remove="android:appComponentFactory">

        <receiver
            android:name=".Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.UID_REMOVED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service"
            android:exported="false"
            android:enabled="@bool/enable_fg_service"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".JobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".Provider"
            android:authorities="${applicationId}.provider"
            android:directBootAware="true"
            android:exported="false"
            android:grantUriPermissions="true" />

        <!-- We don't invalidate Room -->
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            tools:node="remove" />

        <!-- We handle initialization ourselves -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <!-- We handle profile installation ourselves  -->
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            tools:node="remove" />

    </application>

</manifest>
