out
*.zip
*.jks
*.apk
config.prop

# Manually dumped jars
snet/libs

# Built binaries
native/out

# Android Studio / Gradle
*.iml
.gradle
local.properties
.idea/
build/
captures/
.externalNativeBuild
