[submodule "selinux"]
	path = native/src/external/selinux
	url = https://github.com/topjohnwu/selinux.git
[submodule "busybox"]
	path = native/src/external/busybox
	url = https://github.com/topjohnwu/ndk-busybox.git
[submodule "lz4"]
	path = native/src/external/lz4
	url = https://github.com/lz4/lz4.git
[submodule "bzip2"]
	path = native/src/external/bzip2
	url = https://github.com/nemequ/bzip2.git
[submodule "xz"]
	path = native/src/external/xz
	url = https://github.com/xz-mirror/xz.git
[submodule "pcre"]
	path = native/src/external/pcre
	url = https://android.googlesource.com/platform/external/pcre
[submodule "libcxx"]
	path = native/src/external/libcxx
	url = https://github.com/topjohnwu/libcxx.git
[submodule "zlib"]
	path = native/src/external/zlib
	url = https://android.googlesource.com/platform/external/zlib
[submodule "parallel-hashmap"]
	path = native/src/external/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "zopfli"]
	path = native/src/external/zopfli
	url = https://github.com/google/zopfli.git
[submodule "cxx-rs"]
	path = native/src/external/cxx-rs
	url = https://github.com/topjohnwu/cxx.git
[submodule "lsplt"]
	path = native/src/external/lsplt
	url = https://github.com/LSPosed/LSPlt.git
[submodule "system_properties"]
	path = native/src/external/system_properties
	url = https://github.com/topjohnwu/system_properties.git
[submodule "termux-elf-cleaner"]
	path = tools/termux-elf-cleaner
	url = https://github.com/termux/termux-elf-cleaner.git
