[submodule "jni/selinux"]
	path = jni/selinux
	url = https://github.com/topjohnwu/selinux.git
[submodule "jni/su"]
	path = jni/su
	url = https://github.com/topjohnwu/MagiskSU.git
[submodule "jni/ndk-compression"]
	path = jni/ndk-compression
	url = https://github.com/topjohnwu/ndk-compression.git
[submodule "jni/magiskpolicy"]
	path = jni/magiskpolicy
	url = https://github.com/topjohnwu/magiskpolicy.git
[submodule "MagiskManager"]
	path = MagiskManager
	url = https://github.com/topjohnwu/MagiskManager.git
