##########################################################
# All variables in config.prop are optional
# Removing or leaving them blank will keep default values
##########################################################

# The version name of Magisk. Default: git HEAD short SHA1
version=string

# Output path. Default: out
outdir=string

# List of ABIs to build, separated with ','
# Default: armeabi-v7a,x86,arm64-v8a,x86_64
abiList=[string]

#####################################################
# Signing configs for signing zips and APKs
# These 4 variables has to be either all set or not
#####################################################

# Path to keystore file
keyStore=string
# Keystore password
keyStorePass=string
# The desired key alias in the keystore
keyAlias=string
# Password of specified key alias
keyPass=string
