# The version name and version code of Magisk
version=
versionCode=

# The version name and version code of Magisk Manager
appVersion=
appVersionCode=

outdir=out

# Whether use pretty names for zips, e.g. Magisk-v${version}.zip, Magisk-uninstaller-${date}.zip
# The default output names are magisk-${release/debug/uninstaller}.zip
prettyName=false

# Only used when building with release flag
# These passwords are used along with keyStore to sign APKs and zips
# keyPass is the pwd for the specified keyAlias
keyStore=release-key.jks
keyStorePass=
keyAlias=
keyPass=
