<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission tools:node="removeAll" />

    <application tools:node="replace">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="com.topjohnwu.magisk.test.TestRunner"
        android:targetPackage="com.topjohnwu.magisk"
        android:label="Tests for Magisk" />

</manifest>
