<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topjohnwu.unhide">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Unhide Magisk Manager"
        android:theme="@android:style/Theme.NoDisplay">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>