<?xml version="1.0" encoding="utf-8"?>

<!--
    Try to recreate the main app's AndroidManifest.xml
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.topjohnwu.magisk">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="a.e"
        android:appComponentFactory="a.a"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute,GoogleAppIndexingWarning" >

        <!-- Download Activity -->

        <activity
            android:name="a.c"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Magisk Manager Components -->

        <activity
            android:name="a.b"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <activity
            android:name="a.f"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor" />

        <activity
            android:name="a.m"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="false" />

        <receiver
            android:name="a.h"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="a.j"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="12451000" />

        <!-- WorkManager SystemJobService -->

        <service
            android:name="a.x"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>
