<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.topjohnwu.magisk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".MagiskManager"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:directBootAware="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".FlashActivity"
            android:screenOrientation="nosensor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".superuser.RequestActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="internal.superuser"
            android:theme="@style/SuRequest" />

        <receiver android:name=".superuser.SuReceiver" />
        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ManagerUpdate" />
        <receiver android:name=".receivers.RebootReceiver" />

        <service android:name=".services.OnBootIntentService" />
        <service
            android:name=".services.UpdateCheckService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.topjohnwu.magisk.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Hardcode GMS version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="7095000" />

    </application>

</manifest>