<?xml version="1.0" encoding="utf-8"?>

<!--
    ** Special Requirements **

    This AndroidManifest.xml will be copied into the stub
    APK to allow APK delegation. This is why these special
    requirements exist.

    * Class names *
    Class names a.a, a.c, a.e should not be changed as they are used
    externally. All other class names can be changed.

    * Resource IDs *
    All resource IDs referred in AndroidManifest.xml is required to be
    included into the "shared" module to make the ID match with stub.

-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.topjohnwu.magisk">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="a.e"
        android:appComponentFactory="a.a"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute,GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">

        <!-- Splash -->

        <activity
            android:name="a.c"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main -->

        <activity
            android:name="a.b"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <!-- Flashing  -->

        <activity
            android:name="a.f"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor" />

        <!-- Superuser -->

        <activity
            android:name="a.m"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="false" />

        <!-- Receiver -->

        <receiver
            android:name="a.h"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- DownloadService -->

        <service
            android:name="a.j"
            android:exported="false" />

        <!-- Hardcode GMS version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="12451000" />

        <!-- Initialize WorkManager on-demand -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

    </application>

</manifest>
