# Triggers

on post-fs
    start logd
    start magisk_pfs
    wait /dev/.magisk.unblock 20

on post-fs-data
    rm /dev/.magisk.unblock
    load_persist_props
    start magisk_pfsd
    wait /dev/.magisk.unblock 60

on property:magisk.restart_pfsd=1
    trigger post-fs-data

# Services

# launch post-fs script
service magisk_pfs /sbin/magisk --post-fs
    user root
    seclabel u:r:su:s0
    oneshot

# launch post-fs-data script
service magisk_pfsd /sbin/magisk --post-fs-data
    user root
    seclabel u:r:su:s0
    oneshot

# launch late_start script
service magisk_service /sbin/magisk  --service
    class late_start
    user root
    seclabel u:r:su:s0
    oneshot
