alabaster==0.7.12
argcomplete==1.12.0
attrs==20.3.0
Babel==2.9.0
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.3.3
cffi==1.14.5
chardet==4.0.0
chrome-gnome-shell==0.0.0
cryptography==3.4.6
cupshelpers==1.0
dasbus==1.4
dbus-python==1.2.16
decorator==4.4.2
distro==1.5.0
docutils==0.16
fros==1.1
gpg==1.15.1
humanize==0.5.1
idna==2.10
imagesize==1.2.0
Jinja2==2.11.3
langtable==0.0.54
libcomps==0.1.15
lxml==4.6.2
Mako==1.1.4.dev0
markdown-it-py==0.6.2
MarkupSafe==1.1.1
mdit-py-plugins==0.2.6
myst-parser==0.13.5
nftables==0.1
olefile==0.46
packaging==20.9
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==8.1.2
ply==3.11
productmd==1.31
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.20.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.43.0.6
pyenchant==3.2.0
Pygments==2.8.1
PyGObject==3.40.0
pykickstart==3.32
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyparted==3.11.7
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-meh==0.50
pytz==2021.1
pyudev==0.22.0
pyxdg==0.26
PyYAML==5.4.1
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.16.1.3
rstcheck==3.3.1
selinux==3.2
sepolicy==3.2
setools==4.4.0
simpleline==1.8
six==1.15.0
slip==0.6.4
slip.dbus==0.6.4
snowballstemmer==2.1.0
sos==4.1
soupsieve==2.2
Sphinx==3.5.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
swtpm-localca==0.5.2
swtpm-setup==0.5.2
systemd-python==234
Tempita==0.5.1
urllib3==1.25.10
